
#menu ul {
    display: flex; /* horizontal list with flex */
    justify-content: flex-end; /* Align all the links to the right side*/
    align-items: flex-start; /* Center vertically */
}

#menu ul li {
    margin-left: 20px; /* Add space between the list items */
}

/* Style for the links */
#menu ul li a {
    text-decoration: none; /* Remove underline */
    color: #000000; /*  black link color */
    font-size: 24px; /* Font size for links */
    font-weight: bold;
    padding: 8px 15px; /* Padding around links */
    transition: color 0.3s ease; /* color transition */
}

#menu ul li a:hover { 

    color: whitesmoke; /* Change color to whitesmoke on hover */
}



* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    padding: 0 20px;    
    
}


    



a:link {
  color: blueviolet;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: cornflowerblue;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: steelblue;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: midnightblue;
  background-color: transparent;
  text-decoration: none;
}

#menuField 
{
     color: #000000;                
     width: 100%; 
     height: 80px;
     background-color: #ffffff; 
     position: relative;
     top: 10px;
     padding: 40px 0; 
     z-index: 1000;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 


 }

#menu{  
    font-size: 22px;
    padding-top: 0px;
}


header {
    display: flex;
    justify-content: flex-end;
}



/* Hero Section */
.hero {
    height: 65vh; /* 65% of the viewport height */
    background-image: url('images/space.jpg'); /* my space image */
    background-size: cover; /* Ensure the image covers the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative; /* To position the text on top of the image */
    color: whitesmoke; /* White text on top of the image */


}



.hero .intro {
    position: relative; /* Keep the text on top of the image and overlay */
    z-index: 1;
    -webkit-text-stroke: 1px black; /* Stroke width and color */
    text-shadow:
    0 0 5px black, /* black glow behind letters in hero */
    0 0 10px black,
    0 0 15px black,
    0 0 20px black,
    0 0 25px black;
    
}

.hero h1 {
    font-size: 3rem;
    color: whitesmoke;
}

.hero h2 {
    font-size: 1.5rem;
    color: whitesmoke;
    margin: 20px 0;
}

.hero .btn { 
    text-decoration: none;
    background-color: black;
    padding: 5px 20px;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.6s;
}

.hero .btn:hover {
    background-color: #3C566A;
}

.p-space {

    margin-bottom: 20px;
}



/* Sections are "about" "projects" and "skill" Styles */


section {
    padding: 60px 0; /* padding between the space picture and each section*/
    text-align: center;
}

section h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: whitesmoke;
    -webkit-text-stroke: 1px black; /* Stroke width and color */
    text-shadow:
    0 0 5px black, /* black glow behind letters in hero */
    0 0 10px black,
    0 0 15px black,
    0 0 20px black,
    0 0 25px black;
}

section p {
    font-size: 1.1rem;
    color: #000000;
    max-width: 800px;
    margin: 0 auto;
}

.about {

    color: #000000; /* black text */


}

/* Projects */

  
  .project-card {
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    margin: 10px;
    flex-basis: 75%; 

  }
  
  .pictures {
    display: flex; /* Flex container for the project pictures */
    flex-direction: row; /* align the pictures horizontally */
    justify-content: flex-end; /* space between the pictures */
    align-items: flex-start; /*  pictures at the top */
    gap: 10px; /* space between the pictures */
  }
  
  .pictures img {
    width: 65%; /* Make sure the pic fills the container */
    height: auto; /* Maintain aspect ratio */
  }

  .image-with-border {
    border: 4px solid black; /* Regular solid stroke */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

  }
  
  

/* Skills Section */
.skills-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-list li {
    margin: 10px 20px;
    padding: 10px 20px;
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap; 

}

/* Contact Button */
#contact .btn {
    text-decoration: none;
    background-color: #6c9bbf;
    padding: 5px 20px;
    color: #112240;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#contact .btn:hover {
    background-color: #3C566A;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #0a192f;
}

footer p {
    color: #ffffff;
    text-align: left;
}


@media (max-width: 768px) {


    .hero h1 {
        font-size: 24px; /* makes the h1's smaller when looking at mobile version*/
    }

    .hero h2 {
        font-size: 16px; /* makes the h2's smaller when looking at mobile version*/
    }

    p {
        font-size: 8px; /* makes the p's smaller when looking at mobile version*/
    }
    
    

    #menuField {
        display: none;
    }

    #menu.show {
        display: block;
        position: absolute;
        top: 60px;
        right: 20px;
        background: white;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
}